@import url("../../Global.css");

.Tab1{
    width: 100%;
    height: auto;
    font-family: 'Pretendard-Regular';
    
}
.B{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Banner{
    color: #ffffff;
    height: 10.25vh;
    background: linear-gradient(95.45deg, #6a9bff -2%, #1C66FD 85.74%);
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.12);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    width: 35vh;
    border-radius: 2.13vh;
    margin-top: 2.38vh;
    
}

.BannerComment{
    font-size: 11px;
    font-family: 'Pretendard-Light';
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    margin-top: 3vh;
}
.BannerComment2{
    font-size: 17px;
    font-family: 'Pretendard-SemiBold';
    display: flex;
    justify-content: center;
}

.tap1Header{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
}

.tap1HeaderTotal{
    margin-bottom: 2vh;
}

.tap1HeaderPeople{
    /* Rectangle 1470 */
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5vh;
    padding: 1vh 2vh 1vh 2vh;
}