/* @import url("../../Global.css");
.Modal {
  position:fixed;
  top:0;
  left: 0;
  z-index: 2;
  text-align: center;
  color : white;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalBackground{
  position:fixed;
  background-color: black;
  opacity: 40%;
  height: 100vh;
  width: 100%;
}

.inviteAria{
  position: relative;
  top : -10vh;
  background-color: white;
  z-index: 999;
  width: 90%;
  height: 27vh;
  border-radius: 12px;
}

.nav{
  height: 7vh;
  border-bottom: #DFDFDF 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 2vh 0vh 2vh;
  color: black
}

.inputUserId{
  border: 0;
  outline: none;
  font-size: 1.8vh;
  font-family: 'Pretendard-ExtraLight';
}

.inputUserIdArea{
  font-size: '1.8vh';
  color: #D8D8D8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2vh;
  margin-left: 5%;
  margin-bottom: 1vh;
}

.inputUserId{
  padding: 0;
  margin: 0;
  width: 110px
}

.filterUsers{
  display: flex;
  flex-direction: column;
  height: 12.5vh;
  overflow-y: scroll;
}

.filterUsers > div {
  color: black;
  margin-left: 5%;
  margin-top: 0.5vh;
  text-align: left;
  display: flex;
  align-items: center;
}

.filterUsers > div > img {
  margin: 0.5vh 1vh 0.5vh 0.5vh;
  width: 3vh;
  height: 3vh;
  border-radius: 100%;
} */

@import url("../../Global.css");

.background9{
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 1;
    width: 100%;
    display: flex;

}
.background10{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 40%;
    display:flex;
    justify-content: center;
}
.background11{
    position: fixed;
    width: 100%;
    color : rgb(0, 0, 0);
    font-family: 'Pretendard-Regular';
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1vh 1vh 0 0;
    z-index: 1;
    bottom: 0vh;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 1s ease;
}
.controler1{
    width: 4vh;
    height: 1vh;
    /* background-image: url('../../resource/controler.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1.2vh;
}
.membermanage{
    font-family: 'Pretendard-Bold';
    text-align: center;
    width: 100%;
    margin-top: 1vh;
}
.membersArea{
    overflow-x:scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3vh;
    transition: 0.25s;
}
    .box10{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
        .membermanageimg{
            border-radius: 7vh;
            background-color: #1C66FD;
            width: 3.5vh;
            height: 3.5vh;
            margin-left: 3vh;
        }
        .membermanage5{
            font-family: 'Pretendard-ExtraLight';
            font-size: 2vh;
            margin-left: 1vh;
        }

.addmember{
    /* background-image: url(../../resource/cplus.png); */
    background-repeat: no-repeat;
    background-size: 3.5vh;
    width: 3.5vh;
    height: 3.5vh;
    margin-left: 3vh;
}