@import url("../../Global.css");
.box{
    position: fixed;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: left;
    font-weight: 600;
    /* margin-top: 10.13vh; */
    font-size: 2.13vh;
    width: 100%;
}

.backParent{
    text-align: start;
    width: calc(100vw / 3);
}

.back{
    width: 3.38vh;
    height: 3.38vh;
    margin-left: 5.28vw;
}

.title{
    font-size: 20px;
    font-family: 'Pretendard-SemiBold';
    height: 2.75vh;
    width: calc(100vw / 3);
}

.right{
    width: calc(100vw / 3);
}