@import url("../../Global.css");
.box{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: left;
    font-weight: 600;
    /* margin-top: 10.13vh; */
    font-size: 2.13vh;
    width: 100%;
}
.back{
    width: 3.38vh;
    height: 3.38vh;
    margin-left: 5.28%;
}
.backParent{
    position:fixed;
    text-align: start;
    width: 100%;
}

.title{
    font-size: 20px;
    font-family: 'Pretendard-SemiBold';
    height: 2.75vh;
}