@import url("../../Global.css");
.active {
    cursor: pointer;
    border: none;
    background-color: #1C66FD;
    color: white;
    width:39vh;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3vh;
    font-size: 18px;
  }


  
  
  
  