@import url("../../Global.css");
.active {
    cursor: pointer;
    border: none;
    background-color: #1C66FD;
    color: white;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3vh;
    font-family: "Pretendard-Medium";
    font-size: 2.25vh;
    line-height: 1vh;
  }
