.active{
    width:35vh;
    height: 5.38vh;
    border-radius: 0.75vh;
    background-color: #1C66FD;
    font-size: 14px;
    text-align: center;
    font-family: "Pretendard-Regular";
    color: white;
    cursor: pointer;
    border: none;
}