.disabled{
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #E4E4E4;
    color: white;
    width:43.25vh;
    height: 5.33vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.9vh;
    font-weight: 400;
    font-size: 1.9vh;
    margin-top: 1.5vh;
}
  
  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }
  
  /* Rectangle 10 */









  
  
  