.comment-list {
    width: 100% - 6.67% - 6.67%;
    overflow-x:hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color: white;
    padding-left: 6.67%;
    padding-right: 6.67%;
  }

  .comment-list>:first-child{
    width: 100%;
  }
  