.comment-list {
    width: calc(100vw - 6.67vw - 6.67vw);
    overflow-x:hidden;
    list-style-type: none;
    margin-top: -0.11vh;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-content: start;
    flex-wrap: wrap;
    background-color: white;
    padding-left: 6.67vw;
    padding-right: 6.67vw;
  }

  .comment-list>:first-child{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  