.plusBtn{
    margin-top: 12.26vh;
    width: 7vh;
    height: 7vh;
    background-color: #1C66FD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 4.13vh;
}
.plus{
    width: 3vh;
    height: 3vh;
}