@import url("../../Global.css");

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.onboardGroup{
    width: 39.75vh;
    height: 28.98vh;
    margin-top: 16vh;
    margin-bottom: 33.38vh;
}

div>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    margin-top: 4.34vh;
    
}