@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../../Assets/font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('../../Assets/font/Pretendard-ExtraLight.woff') format('woff');
    font-style: normal;
  }

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.onboardGroup{
    width: 39.75vh;
    height: 28.98vh;
    margin-top: 16vh;
    margin-bottom: 33.38vh;
}

div>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    margin-top: 4.34vh;
    
}