@import url("../../Global.css");

.App {
  background-color: white;
  color : black;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backnavbar{
  height: 14.01vh;
  display: flex;
  align-items: end;
}

.inflow2Script{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8.5vh;
  margin-bottom: 7.75vh;
  padding-right: 10vh;
  height: 10vh;
  width: fit-content;

}

.inflow2ScriptFirst{
  font-size: 3.75vh;
  font-family: 'Pretendard-SemiBold';
  margin-bottom: 2.37vh;
  margin-top: 0.7vh;
  
}

.inflow2ScriptSecond{
  font-size: 2vh;
  color:black;
  opacity: 50%;
  font-family: "Pretendard-Light";
  margin-top: 0.38vh;
}

.peopleContainer{
  box-sizing: border-box;
  width: 35vh;
  height: 7vh;
  border: 1.5px solid black;
  border-radius: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4vh;
}



.rangeError{
  font-size: 1.7vh;
  color: red;
  margin: 2vh;
}

.randBtn, .randBtnDisabled{
  width: 40vh;
  height: 7vh;
  text-align: center;
  line-height: 7vh;
  border-style: none;
  background: #1C66FD;
  border-radius: 16px;
  font-size: 2.25vh;
  color: white;
  text-decoration: none;
  font-family: 'Pretendard-Medium';
  margin-top: -.38vh;
}

.randBtnDisabled{
  background: #E4E4E4;
}